footer{
    display: flex;
    background-color: var(--var-color-yellow);
    justify-content: space-around;
}

@media (max-width: 700px){
    footer{
        flex-direction: column;
        justify-content: center;
    }
    
    section{
        text-align: center;
    }
}