.produitContainer {
  display: flex; /* Utilise flexbox */
  align-items: center; /* Centre les éléments verticalement */
  justify-content: flex-start; /* Alignement des éléments enfants à gauche */
  background-color: #ccc; /* Couleur de fond gris pour le rectangle */
  padding: 20px; /* Ajoute un peu d'espace autour du contenu */
}

.texteEtBouton {
  display: flex;
  flex-direction: column; /* Organise le contenu en colonne */
  flex: 1; /* Permet au texte et au bouton de prendre l'espace nécessaire */
  margin-right: 20px; /* Espacement entre le texte/bouton et l'image, si nécessaire */
}

.imageContainer {
  flex: 1; /* Permet à l'image de prendre l'espace nécessaire */
}

.placeholder {
  width: 300px; /* Largeur souhaitée */
  height: 300px; /* Hauteur souhaitée */
  background-color: #bbb; /* Couleur de fond légèrement différente pour le placeholder */
  display: flex ;
  align-items: center;
  justify-content: flex-start;
  padding: 20px; 
  flex-direction: row-reverse;
}

.button {
  cursor: pointer; /* Indique qu'il s'agit d'un bouton cliquable */
  margin-top: 20px; /* Ajoute un espace au-dessus du bouton, ajustez selon les besoins */
  padding: 10px 20px; /* Ajoute un peu de padding autour du texte du bouton */
  background-color: white; /* Couleur de fond pour le bouton */
  color: black; /* Couleur du texte pour le bouton */
  border: none; /* Retire la bordure du bouton */
  border-radius: 10px; /* Ajoute un peu d'arrondi aux angles du bouton */
  width: 100px;
}

.texte {
  width: 500px;
}
@media (min-width: 768px) {
  select,
  input {
      width: 30vw;
  }

  label span,
  .separator {
      right: 10% !important;
  }
}