.main {
    justify-content: space-around;
}

.critere,
.resultat {
    flex-direction: column;
}

.squaredFour {
    width: 20px;
    position: relative;
    margin: 20px auto;
}

.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #fcfcfc;
    border: 1px solid #ccc;
}

.squaredFour label:after {
    content: '';
    position: absolute;
    display: none;
    left: 5px;
    top: 5px;
    width: 6px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.squaredFour input[type="checkbox"]:checked + label:after {
    display: block;
}

.contenueResult {
    overflow: hidden;
    height: 150px;
    width: 300px;
}

.contenueResult > * {
    flex: 1;
}

.main, 
.contenueResult,
.choix{
    flex-direction: row;
}

.critere, 
.contenueResult {
    border-radius: 10px;
}

.critere, .resultat, 
.main, .contenueResult, .choix{
    display: flex;
}

.recherche, .resultat, 
.contenueResult{
    margin-top: 5vw;
    margin-bottom: 5vw;
}

/* Couleur pour .rightColumun */
.critere, .rightResult {
    background-color: var(--var-color-gray);
}

/* Couleur pour .leftColumun */
.leftResult {
    background-color: #948585;
}

@media (max-width: 700px){

    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}